body  {
      background-color: gainsboro;
      }
h1
    {
      font-family:Bookman;
      color: blue;
    }
h2
      {
            font-family: Bookman;
            color: dodgerblue;
      }
h3
      {
            font-family: Bookman;
            color: dodgerblue;
      }
p
  {
    font-family: Bookman;
    color: dodgerblue;
  }
    
table {
        border: 3px solid black;
        background-color: white;
      }
td 
    {
      border: 1px solid black;
      background-color: white;
    }
